<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.2.0-xbuild02" targetFramework="net452" />
  <package id="BioText" version="0.3.12.4" targetFramework="net452" />
  <package id="IASL.BioTextMining.NamedEntityIdentification.Dictionary" version="1.0.0.4" targetFramework="net452" />
  <package id="IASL.BioTextMining.NamedEntityRecognition.Core" version="1.0.0.6" targetFramework="net452" />
  <package id="IASL.BioTextMining.NamedEntityRecognition.Lexicon" version="1.0.0.1" targetFramework="net452" />
  <package id="IASL.BioTextMining.ThirdParty" version="1.0.2.0" targetFramework="net452" />
  <package id="IASL-BioTextMining.Cores" version="2.0.3.9" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="LingPipe" version="4.1.0.1" targetFramework="net452" />
  <package id="NTTU.BigODM.Bio.Thirdparty.NCBI" version="1.0.0.2" targetFramework="net452" />
</packages>