################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/miRNADatabase/.vs/miRNA/v14
/miRNADatabase/miRNA/bin/Debug
/miRNADatabase/miRNA/obj/Debug
