USE [master]
GO
/****** Object:  Database [miRNA_final]    Script Date: 2016/6/25 下午 03:12:46 ******/
CREATE DATABASE [miRNA_final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'miRNA_final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\miRNA_final.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'miRNA_final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\miRNA_final_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [miRNA_final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [miRNA_final]
GO
/****** Object:  Table [dbo].[ANNOTATION]    Script Date: 2016/6/25 下午 03:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOTATION](
	[ANN_ID] [int] IDENTITY(1,1) NOT NULL,
	[SENT_ID] [int] NOT NULL,
	[ART_ID] [int] NOT NULL,
	[TYPE] [text] NOT NULL,
 CONSTRAINT [ANNOTATION_PK] PRIMARY KEY CLUSTERED 
(
	[ANN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ARTICLE]    Script Date: 2016/6/25 下午 03:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTICLE](
	[ART_ID] [int] IDENTITY(1,1) NOT NULL,
	[ART_PMID] [int] NOT NULL,
	[ART_JOURNAL] [nvarchar](500) NOT NULL,
	[MESH_ID] [nchar](7) NULL,
	[ART_ISSN] [varchar](9) NOT NULL,
 CONSTRAINT [ARTICLE_PK] PRIMARY KEY CLUSTERED 
(
	[ART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENTITY]    Script Date: 2016/6/25 下午 03:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTITY](
	[ANN_ID] [int] NOT NULL,
	[TEXT] [text] NOT NULL,
	[FIRST_LETTER_NUM] [int] NOT NULL,
	[LAST_LETTER_NUM] [int] NOT NULL,
 CONSTRAINT [ENTITY_PK] PRIMARY KEY CLUSTERED 
(
	[ANN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MESH_HEADING]    Script Date: 2016/6/25 下午 03:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESH_HEADING](
	[MESH_ID] [nchar](7) NOT NULL,
	[MESH_TERM] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MESH_HEADING] PRIMARY KEY CLUSTERED 
(
	[MESH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[METAINFO]    Script Date: 2016/6/25 下午 03:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METAINFO](
	[MESH_ID] [nchar](7) NOT NULL,
	[ART_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAIR]    Script Date: 2016/6/25 下午 03:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIR](
	[ANN_ID] [int] NOT NULL,
	[E1] [int] NOT NULL,
	[E2] [int] NOT NULL,
	[INTERACTION] [bit] NOT NULL,
 CONSTRAINT [PAIR_PK] PRIMARY KEY CLUSTERED 
(
	[ANN_ID] ASC,
	[E1] ASC,
	[E2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SENTENCE]    Script Date: 2016/6/25 下午 03:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SENTENCE](
	[SENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ART_ID] [int] NOT NULL,
	[IS_TITLE] [bit] NOT NULL,
	[TEXT] [text] NOT NULL,
 CONSTRAINT [PK_SENTENCE] PRIMARY KEY CLUSTERED 
(
	[SENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[ANNOTATION]  WITH CHECK ADD  CONSTRAINT [FK_ANNOTATION_SENTENCE] FOREIGN KEY([SENT_ID])
REFERENCES [dbo].[SENTENCE] ([SENT_ID])
GO
ALTER TABLE [dbo].[ANNOTATION] CHECK CONSTRAINT [FK_ANNOTATION_SENTENCE]
GO
ALTER TABLE [dbo].[ENTITY]  WITH CHECK ADD  CONSTRAINT [ANNOTATION_ENTITY_FK1] FOREIGN KEY([ANN_ID])
REFERENCES [dbo].[ANNOTATION] ([ANN_ID])
GO
ALTER TABLE [dbo].[ENTITY] CHECK CONSTRAINT [ANNOTATION_ENTITY_FK1]
GO
ALTER TABLE [dbo].[METAINFO]  WITH CHECK ADD  CONSTRAINT [FK_METAINFO_ARTICLE] FOREIGN KEY([ART_ID])
REFERENCES [dbo].[ARTICLE] ([ART_ID])
GO
ALTER TABLE [dbo].[METAINFO] CHECK CONSTRAINT [FK_METAINFO_ARTICLE]
GO
ALTER TABLE [dbo].[METAINFO]  WITH CHECK ADD  CONSTRAINT [FK_METAINFO_MESH_HEADING] FOREIGN KEY([MESH_ID])
REFERENCES [dbo].[MESH_HEADING] ([MESH_ID])
GO
ALTER TABLE [dbo].[METAINFO] CHECK CONSTRAINT [FK_METAINFO_MESH_HEADING]
GO
ALTER TABLE [dbo].[PAIR]  WITH CHECK ADD  CONSTRAINT [ANNOTATION_PAIR_FK1] FOREIGN KEY([ANN_ID])
REFERENCES [dbo].[ANNOTATION] ([ANN_ID])
GO
ALTER TABLE [dbo].[PAIR] CHECK CONSTRAINT [ANNOTATION_PAIR_FK1]
GO
ALTER TABLE [dbo].[PAIR]  WITH CHECK ADD  CONSTRAINT [ENTITY_PAIR_FK1] FOREIGN KEY([E1])
REFERENCES [dbo].[ENTITY] ([ANN_ID])
GO
ALTER TABLE [dbo].[PAIR] CHECK CONSTRAINT [ENTITY_PAIR_FK1]
GO
ALTER TABLE [dbo].[PAIR]  WITH CHECK ADD  CONSTRAINT [ENTITY_PAIR_FK2] FOREIGN KEY([E2])
REFERENCES [dbo].[ENTITY] ([ANN_ID])
GO
ALTER TABLE [dbo].[PAIR] CHECK CONSTRAINT [ENTITY_PAIR_FK2]
GO
ALTER TABLE [dbo].[SENTENCE]  WITH CHECK ADD  CONSTRAINT [ARTICLE_SENTENCE_FK1] FOREIGN KEY([ART_ID])
REFERENCES [dbo].[ARTICLE] ([ART_ID])
GO
ALTER TABLE [dbo].[SENTENCE] CHECK CONSTRAINT [ARTICLE_SENTENCE_FK1]
GO
USE [master]
GO
